<h1>This is the Cocktail Show Page</h1>

<h5>You are showing this <strong><%= @cocktail.name %></strong> </h5>
<br>
<br>
<h5>You are showing doses for <strong><%= @cocktail.name %></strong> </h5>
<% @cocktail.doses.each do |dose| %>
  <p><%= dose.description %> <%= dose.ingredient.name %> </p>
<% end %>
<br>
<%= link_to "Add Ingredients to you cocktail", new_cocktail_dose_path(@cocktail)  %>
<br>
<%= link_to "Back to all cocktails", cocktails_path  %>
<br>
